@{
    ViewData["Title"] = "Home Page";
}

<div class="IndexPage">
    @*<img src="~/images/AsianTradeCentre.jpg" style="background-image:unset" />*@
    <br />
    <p>If you are <b>new</b> please register your name and business.  If you are <b>returing</b> business, please log in.</p>
    <br />
    <p>
        The Asian Trade Centre (ATC), founded in 2014, is the premier advocate and educator for trade in Asia.
        The ATC works with governments, businesses to include corporations, Micro, Small and Medium Enterprises (MSME),
        think tanks, foundations, and Non Profit Organizations (NGO) offering services in trade related issues and activities in Asia.
    </p>
    <p>
        We are the secretariat of  the Asia Business Trade Association (ABTA) offering support to governments on
        the promotion and mutually beneficial resolution of regional trade issues between governments and ABTA’s
        Asia Pacific Trade Coalition (AMTC).  AMTC, the largest voice of MSMEs in the Asia Pacific serves as a bridge
        between governmental officials as well as facilitate the trade of goods and services by small businesses in the region.
        The purpose of the AMTC is to shape and influence trade policies that are MSME-friendly in collaboration with public
        and private sector stakeholders.
    </p>
    <p>
        The ATC accomplishes this through research, training, and speaking events offered to governments and businesses
        focusing on increasing awareness of the challenges  MSME’s and government’s face in understanding the potential
        impacts of trade policies.  This training includes:
    </p>

    <ul>
        <li>
            Increasing capacities and knowledge of government and business leaders trough training, workshops and seminars
        </li>
        <li>
            Building bridges between government and business to foster the growth of trade in the region
        </li>
        <li>
            Leading world-class research projects
        </li>
        <li>
            Conducting outreach to the media, business, NGOs and the interested public on trade issues
        </li>

    </ul>
    <p>
        <h2>Research</h2>
        <br />
        The second key activity of the ATC is doing research on trade-related topics.  This research includes
        but is not limited to the focus on the Trans-Pacific Partnership (TPP)(adopted October 2018), the Regional
        Comprehensive Economic Partnership (RCEP), the ASEAN Economic Community (AEC), global value chains,
        e-commerce and digital trade, and trade facilitation. Besides these publications, the ATC also conducts
        research for governments and businesses which seek to understand the social and economic impacts of potential
        policies.  One way of meeting this is by maintaining a Talking Trade Blog, which analyses the most recent
        events or changes in the global trade landscape.

    </p>
    <p>
        <h2>Our Training</h2>
        <br />
        The ATC’s training programmes are designed to provide participants with an active and relevant learning experience.
        The ATC’s training methodology and approach to transferring knowledge is based on more than 20 years of experience
        teaching adults and students, both from Government and private sector.  The ATC’s training methodology ensures that
        participants are actively engaged and retain knowledge by mixing lecture style courses, interactive exercises and
        discussions, workshops in small and larger groups, including e-learning sessions. Participants could be pre and post
        assessed with oral and written exercises at the beginning and at the end the training session.
    </p>




</div>